<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\Block\Adminhtml\Edit\Tabs">
        <arguments>
            <argument name="tabs" xsi:type="array">
                <item name="custom_tab" xsi:type="string">Products</item>
            </argument>
        </arguments>
    </type>
</config>
